* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google fonts

font-family: 'Carattere', cursive;
font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Mate SC', serif;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;

*/

:root {
    --but-col : #FF007F;
    --gradient: linear-gradient(90deg, #2F3028, #f2ae72, #C62368, #FCAF3C, #001122);
}

html {
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/**************************************************************************************************************************************************/

main {
    margin-left: 6rem;
}


section {
    position: relative;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 0;
    padding-left:  15vw;
    padding-right:  15vw;
}

section:last-child {
    padding-bottom: 7rem;
}

@media all and (max-width: 500px) {
    section {
        padding-left:  5vw;
        padding-right:  5vw;
    }
}

/* cursor */

.heading {
    display: flex;
}

@media all and (max-width: 600px) {
    .heading {
        font-size: 0.7rem;
    }
}

.heading h1{
    display: flex;
}

.heading h1:first-child {
    align-items: center;
}


.heading svg {
    padding-top: 0;
    width: 10px;
    color: white;
    margin-left: 0rem;
    z-index: 1;
    animation: ani-cur 0.7s infinite alternate;
}

@keyframes ani-cur{
    0% {rotate: 0deg;}
    100% {rotate: -90deg;}
}

/* cursor */

/* jiggly lines */

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* @media all and (min-width: 500px) {

    .spacer {
        aspect-ratio: 1080/300;
    }
}

@media all and (max-width: 400px) {

    .spacer {
        aspect-ratio: 16/9;
    }
} */

.layer1 {
    background-image: url(waves/1.svg);
    border-top: 2px solid #2F3028;
    border-bottom: 2px solid #f2ae72;
}
.layer2 {
    background-image: url(waves/2.svg);
    border-top: 2px solid #f2ae72;
    border-bottom: 2px solid #C62368;
}
.layer3 {
    background-image: url(waves/3.svg);
    border-top: 2px solid #C62368;
    border-bottom: 2px solid #FCAF3C;
}
.layer4 {
    background-image: url(waves/4.svg);
    border-top: 2px solid #FCAF3C;
    border-bottom: 2px solid #001122;
}

/* jiggly lines */

/* colors */

.col1 {
    background: #2F3028;
}
.col2 {
    background: #f2ae72;
}
.col3 {
    background: #C62368;
}
.col4 {
    background: #FCAF3C;
}
.col5 {
    background: #001122;
}

/* colors */

.col1 svg {
    display: flex;
    margin: 1vw;
}

.blob-motion {
    position: absolute;
}

@media all and (min-width: 650px) {
    .blob-motion{
        width: 400px;
        transform:  translateY(-50%);
    }
}

@media all and (min-width: 500px) {
    .blob-motion{
        width: 320px;
        transform:  translateY(-60%);
    }
}

@media all and (max-width: 500px) {
    .blob-motion {
        width: 70vw;
        transform:  translateY(-50%);
    }
}

h1, p, h3, h4 {
    position: relative;
    z-index: 1;
}

/**********************************************************************************************************************************/

/* navbar */

.navbar {
    width: 6rem;
    height: 100vh;
    position: fixed;
    border: 1px solid black;
    z-index: 1000;
    background-color: black;
    background: red;
    background-size: 30rem;
    background-position: left;
}

.navbar-nav {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-link {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-link svg {
    width: 2rem;
    margin: 0 1.5rem;
}

@media all and (min-width: 800px) {

    main {
        margin-left: 13rem;
    }
    
    .navbar {
        width: 13rem;
        padding-right: 1.5rem;
        background-size: 65rem;
    }

    .nav-item:first-child {
        margin-top: 20%;
    }

    .nav-item:last-child {
        margin-bottom: 20%;
    }

    .nav-link {
        flex-direction: row;
        padding: 5vh 0;
    }
}

@media all and (min-width: 600px) {

    section {
        padding-left:  2vw;
        padding-right:  2vw;
    }


    .nav-item:first-child {
        margin-top: 20%;
    }

    .nav-item:last-child {
        margin-bottom: 20%;
    }

    .nav-link {
        padding: 5vh 0;
    }
}

@media all and (max-width: 600px) {

    main {
        margin-left: 0;
    }
    .navbar {
        width: 100vw;
        bottom: 0;
        height: 5rem;
        background-size: 500vw;
    }

    .navbar-nav {
        height: 100%;
        width: 100%;
    }

    .nav-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 1rem 0;
        justify-content: space-around;
    }

    .nav-link {
        flex-basis: 100%;
    }

    .nav-link:nth-child(1) svg{
        width: 1.25rem;
    }

    .link-text {
        font-size: 12px;
    }
}

/* hover */

.nav-link {
    transition: 0.2s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-link:hover svg{
    color: crimson;
    filter: drop-shadow(0px 0px 3px rgba(255 255 255));
}

/* hover */

/*************************************************************************************************************************************************/

/* intro */

.col1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
    
    width: 360px;
    height: 370px;
    position: relative;
}

.intro span {
    background: transparent;
}

.intro span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: move-round 5s linear infinite;
}

.intro:hover span:nth-child(1) {
    border: none;
    background: rgba(255, 255, 255, 1);
}

.intro span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: move-round2 10s linear infinite;
}

.intro:hover span:nth-child(2) {
    border: none;
    background: rgba(255, 255, 255, 0.3);
}

.intro span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: move-round 7s linear infinite;
}

.intro:hover span:nth-child(3) {
    border: none;
    background: rgba(255, 255, 255, 0.7);
}

.intro span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: move-round2 3s linear infinite;
}

.intro:hover span:nth-child(4) {
    border: none;
    background: rgba(255, 255, 255, 0.5);
}

@keyframes move-round {
    0% {transform:  rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes move-round2 {
    0% {transform:  rotate(360deg);}
    100% {transform: rotate(0deg);}
}

.intro-cont {
    color: whitesmoke;
    transition: 0.5s;
    z-index: 1000;
}

.intro:hover .intro-cont {
    color: black;
}

/* intro */

/* skills */

.skill-name {
    width: 100%;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.skill-name span {
    z-index: 2;
}

.skills {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.skills img {
    width: 2.5rem;
}

.software, .language {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
}

@media all and (max-width: 970px) {
    .skills {
        flex-direction: column;
    }
}

.software {
    flex-basis: 70%;
}

.language {
    flex-basis: 30%;
}

.software > * {
    flex: 0 1 33%;
    padding: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.language > * {
    flex: 0 1 50%;
    padding: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.resume {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* skills */

/**************************************************************************************************************************************************/

/* wrapper */

.col2 {
    color: black;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.edu {
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    color: black;
}

.edu::before {
    content: ' ';
    position: absolute;
    width: 100px;
    height: 130%;
    background: linear-gradient(skyblue, magenta);
    animation: educ 4s linear infinite;
}

.edu::after {
    content: ' ';
    position: absolute;
    background: #f2ae72;
    inset: 4px;
    border-radius: 16px;
}

@keyframes educ {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.edu h1 {
    font-size: 2.5rem;
}

.edu p {
    text-align: center;
    padding: 0 0.5rem;
    padding-top: 2rem;
    font-size: 1rem;
}

.edu:nth-child(3) p, .edu:nth-child(4) p {
    text-align: center;
    padding: 0 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem;
}
/* wrapper */

/* resume */

.resume button {
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: var(--but-col);
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    padding: 0.4rem 0.7rem;
    border: var(--but-col) 2px solid;
    border-radius: 0.3rem;
    text-shadow: 0 0 0.3rem var(--but-col);
    box-shadow: inset 0 0 0.5rem 0 var(--but-col),
    0 0 0.5rem 0 var(--but-col);
    position: relative;
    transition: 0.3s ease-in-out;
}

.resume button::before {
    position: absolute;
    content: ' ';
    background: var(--but-col);
    top: 140%;
    left: 0;
    width: 100%;
    height: 100%;

    transform:  perspective(2rem) rotateX(40deg) scale(1, 0.35);

    filter: blur(1.5rem);
    opacity: 0.5;
}

.resume button::after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem 0.5rem var(--but-col);
    opacity: 0;
    transition: opacity 100ms linear;
}

.resume button:hover, .resume button:focus {
    background: var(--but-col);
    color: #2F3028;
    text-shadow: none;
}

.resume button:hover::before {
    opacity: 1;
}

.resume button:hover::after {
    opacity: 1;
}

/* resume */

/* socials */

.col5 {
    overflow: hidden;
    height: 500px;
}

.icon-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    padding: 1px;
}


.icon-wrap .socials {
    flex: 1 1 100%;
    padding: 1px 0;
    margin-top: 0;
    top: -100%;
    width: 100%;
    white-space: nowrap;
    display: flex;
    position: relative;
    transform: rotate(-30deg);
}

.icon-wrap .socials div {
    display: flex;
    animation: move-side 80s linear infinite;
    animation-delay: -40s;
}

.icon-wrap .socials div:nth-child(2) {
    display: flex;
    animation: move-side2 80s linear infinite;
    animation-delay: 0s;
}

@keyframes move-side {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
}

@keyframes move-side2 {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-200%);}
}

.icon-wrap .socials:nth-child(even) div {
    display: flex;
    animation: move-side3 80s linear infinite;
    animation-delay: 0s;
}

.icon-wrap .socials:nth-child(even) div:nth-child(2) {
    display: flex;
    animation: move-side4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes move-side3 {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(100%);}
}

@keyframes move-side4 {
    0% {transform: translateX(-200%);}
    100% {transform: translateX(0%);}
}

.icon-wrap .socials > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li {
    margin: 5px 5px;
}

.socials svg {
    color: rgba(255, 255, 255, 0.1);
    width: 64px;
    transition: 1s;
    user-select: none;
}

.socials svg:hover, .socials svg:focus, .socials svg:active {
    transition: 0s;
    color: #39FF14;
    filter: drop-shadow(0 0 7px #39FF14) ;
}

/* socials */

/*************************************************************************************************************************************************/

.col3 {
    padding-bottom: 5px;
}

.group-proj {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.group-proj .project {
    position: relative;
    margin: 0.2rem 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
    background: #f3f2ed;
    color: #314837;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.1), 
    6px 6px 20px rgba(0, 0, 0, 0.3);
}

.project .pro-cont {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 10px;
}

.project.active .pro-cont {
    height: auto;
}

.project .pro-img {
    position: relative;
}

.project .pro-cont::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: ' ';
    background: linear-gradient( rgba(243, 242, 237, 0), rgba(243, 242, 237, 0.5),  rgba(243, 242, 237, 1));
    width: 100%;
    height: 100px;
    z-index: 2;
}

.project.active .pro-cont::before {
    background: transparent;
}

.project .more {
    position: relative;
    display: inline-block;
    cursor: pointer;

    padding: 10px 15px;
    border-radius: 40px;
    background: #f3f2ed;
    color: #314837;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 1), 
    4px 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.project.active .more {
    background: #C62368;
    color: white;
}

.project .more:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.project.active .more:hover {
    box-shadow: inset -4px -4px 10px rgba(198, 35, 104, 0.5), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.project .more::before {
    content: 'read more';
}

.project.active .more::before {
    content: 'read less';
}

.pro-img svg {
    width: 100px;
}

.project:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.7), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.project:hover .pro-img, .project:hover .pro-cont {
    transform: scale(0.98);
}

/* youtube */

.youtube-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vid-cont {
    flex: 0 1 25%;
    width: 310px;
    height: auto;
    background: #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.1rem 0.1rem;
    box-shadow: -6px -6px 20px rgba(0, 0, 0, 0.1), 
    6px 6px 20px rgba(0, 0, 0, 0.3);
}

.vid {
    width: 300px;
    height: 169px;
    margin: 0.2rem;
}

.vid-details {
    background: #282828;
    color: #ffffff;
    width: 300px;
    height: 180px;
    margin-bottom: 0.2rem;
    text-align: left;
    padding: 0.2rem;
}

.vid-details, .vid-cont {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.vid, .vid-cont {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* youtube */

/*************************************************************************************************************************************************/















